$themes: (
  black: (
    topbarBg: #252a2e,
    topbarActive: #e4440a,
    menuBg: #383d41,
    subMenuBg: #383d41,
    menuHover:#d84040,
    btnColor: #f56868,
    theadBg: #fdf7f7,
    titleAfterBg: #ff333b
  ),
  blue: (
    topbarBg: #0278ae,
    topbarActive: #e6ac0e,
    menuBg: #4e99b4,
    subMenuBg: #4e99b4,
    menuHover:#cea020,
    btnColor: #f58468,
    theadBg: #f6f6f7,
    titleAfterBg: #f58468
  ),
  red: (
    topbarBg: #f05454,
    topbarActive: #e4190a,
    menuBg: #30475e,
    subMenuBg: #30475e,
    menuHover:#b5413b,
    btnColor: #6899f5,
    theadBg: #f6f6f7,
    titleAfterBg: #ff333b
  ),
  orange: (
    topbarBg: #e1791d,
    topbarActive: #f5740a,
    menuBg: #806649,
    subMenuBg: #b4844e,
    menuHover:#d25c25,
    btnColor: #6882f5,
    theadBg: #f6f6f7,
    titleAfterBg: #f5740a
  ),
  purple: (
    topbarBg: #583d72,
    topbarActive: #f5740a,
    menuBg: #675b98,
    subMenuBg: #675b98,
    menuHover:#5570e7,
    btnColor: #6882f5,
    theadBg: #f6f6f7,
    titleAfterBg: #f5740a
  ),
  green: (
    topbarBg: #378810,
    topbarActive: #f58f68,
    menuBg: #666f61,
    subMenuBg: #666f61,
    menuHover:#f58f68,
    btnColor: #f58f68,
    theadBg: #f6f6f7,
    titleAfterBg: #f58f68
  )
)
